@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-inter: 'Inter', sans-serif;
	--color-nicecoast: #4f526f;
	--color-nicesky: #a8cbec;
	--color-nicesea: #5c8ebe;
	--color-nicewhite: #eeeeee;
}

p {
	@apply text-justify;
}
